*.iml
/Android App/.gradle
/Android App/local.properties
/Android App/.idea/caches
/Android App/.idea/libraries
/Android App/.idea/modules.xml
/Android App/.idea/workspace.xml
/Android App/.idea/navEditor.xml
/Android App/.idea/assetWizardSettings.xml
.DS_Store
/Android App/build
/Android App/captures
.externalNativeBuild
.cxx
